@mixin flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin badgeStructure {
  display: inline-block;
  color: white;
  font-size: 10px;
  padding: 3px 7px;
}

@mixin tagsStructure {
  .tags {
    position: absolute;
    bottom: 30px;

    .sconto,
    .tag {
      @include badgeStructure();
    }
    .sconto {
      background-color: red;
      margin-right: 5px;
    }
    .tag {
      background-color: green;
    }
  }
}
